.company-background {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.company-background h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

/* Flex container for text and image */
.company-background-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Left side - text content */
.text-content {
  flex: 1;
  padding-right: 2rem;
}

/* Right side - image content */
.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Subsection styling */
.subsection {
  margin-bottom: 2rem;
}

.subsection h3 {
  font-size: 1.5rem;
  color: #007BFF;
  margin-bottom: 1rem;
}

.subsection p {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

.image-with-caption figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
}

.image-content img {
  width: 80%;
  height: auto;
}
@media (max-width: 600px) {
  .image-content img {
    width: 40%;
    height: auto;
  }
}
@media (max-width: 972px) {
  .company-background-content {
    flex-direction: column;
    align-items: center;
  }

  .text-content {
    padding-right: 0;
    text-align: center;
  }

  .image-content {
    margin:1rem 0;
  }

  .image-content img {
    width: 50%;
    height: 50%;
  }
}