.header {
  background-color: #1351ae;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.logo-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  transition: color 0.3s ease;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.logo-link:hover {
  color: #50b6ff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  transition: color 0.3s ease;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.nav-links a:hover {
  color: #50b6ff;
}

.logo {
  font-size: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.logo:hover {
  color: #50b6ff;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .nav-links li {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .nav-links a {
    width: 100%;
    padding: 0.5rem 0;
  }

  .hamburger-menu {
    display: flex;
  }

  .navbar.active .nav-links {
    display: flex;
  }
}